/ESPINOSA_GUEVARA_GUALLICHICO/03.PROTOTIPO/01.PROYECTO/Monster NO ESTOY SEGURO/Monster/build/
/ESPINOSA_GUEVARA_GUALLICHICO/03.PROTOTIPO/01.PROYECTO/Monster NO ESTOY SEGURO/Monster/nbproject/private/
/ESPINOSA_GUEVARA_GUALLICHICO/03.PROTOTIPO/01.PROYECTO/MonsterRespaldo 050919/dist/
/ESPINOSA_GUEVARA_GUALLICHICO/03.PROTOTIPO/01.PROYECTO/MonsterRespaldo 050919/build/
/ESPINOSA_GUEVARA_GUALLICHICO/03.PROTOTIPO/01.PROYECTO/MonsterRespaldo 050919/nbproject/private/